# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Generated Output
output/
C:/share/WindchillRestServices/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db