// =====================================================
// WTPart Retrieval
// =====================================================

WTPart wtPart = null;

try {

    wtPart = PartHelper.getPartByNumber({{INPUT_PARAMETER}});

}
catch (WTException e) {

    LOGGER.error("Unable to retrieve WTPart : {}", {{INPUT_PARAMETER}}, e);

    throw e;

}